<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
    <h:head>
    </h:head>
    <h:body>
        <h1>Management console</h1>
        <p><a href="index.xhtml">Main page</a></p>

        <h:form>
            <p:commandButton
                action="#{consoleBacking.toggleGameLoop}"
                value="#{consoleBacking.getGameLoopState() ? 'Stop game' : 'Start game'}"
                styleClass="ui-button-raised #{consoleBacking.getGameLoopState() ? 'ui-button-danger' : 'ui-button-success'}"
                update="@this"
            />
        </h:form>
    </h:body>
</f:view>

</html>
