<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
    <h:head>
        <meta http-equiv="refresh" content="5" />

        <style type="text/css">
            .green-text {
                color: #33aa55;
            }
        </style>
    </h:head>

    <h:body>
        <h1>Dashboard</h1>
        <p><a href="register.xhtml">Register!</a> <a href="console.xhtml">Console</a></p>

        <p:chart type="bar" model="#{pointsChartView.model}" style="height:300px"/>

        <ul>
            <ui:repeat value="#{indexBacking.participantDataList}" var="row">
                <li class="#{row.isFinished ? 'green-text' : ''}">#{row.text}</li>
            </ui:repeat>
        </ul>
    </h:body>
</f:view>

</html>
