<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
    <h:head>
        <title>Registration</title>
    </h:head>
    <h:body>
        <h:form id="registrationForm">
            <p:panel header="Registration Form" style="width: 500px;">
                <p:messages />
                <h:panelGrid columns="2">
                    <p:outputLabel value="Username:" />
                    <p:inputText id="userName" value="#{registrationBacking.registrationParticipant.username}"
                        label="Username" />

                    <p:outputLabel value="Client IP address:" />
                    <p:inputText id="clientIpAddress" value="#{registrationBacking.registrationParticipant.ipAddress}"
                        label="Client IP address" />

                    <p:outputLabel value="Client port:" />
                    <p:inputText id="clientPort" value="#{registrationBacking.registrationParticipant.port}"
                        label="Client port" />

                    <p:outputLabel value="Communication type:" />
                    <p:selectOneMenu id="communicationType"
                        value="#{registrationBacking.registrationParticipant.communicationType}"
                        label="Communication type">
                        <f:selectItems value="#{registrationBacking.communicationTypes}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="" />
                    <p:commandButton action="#{registrationBacking.register}" value="Register"
                        update="registrationForm" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</f:view>

</html>
